
@charset "utf-8";
BODY {
	COLOR: #000000; FONT-FAMILY: 瀹嬩綋; FONT-SIZE: 9pt;
	background-image : url(../images/welcome.png);
	
	font-family : fantasy;
}
form{
	聽color : #5728FF;
	
}
.smart-green {
		background:  #B0D3FF;
 	聽margin-left: auto;
聽聽  聽width : 200px;
	
	
}
.selectPage{ 
			width:107px;
			height:21px;
			background:none;
			border:none;
			padding-top:3px;
			background-color:Transparent;
			color:gray;
			position:absolute;
			z-index:-1;
		}


聽聽 聽聽聽
聽聽 聽
